  
* {
    margin: 0;
    padding: 0;
  }
  
  
  html, body {
    height: 100%;
  }
  
  body {
    font-family:'Libre Franklin', sans-serif;
    color: white;
    background: rgb(158,106,91);
    background: linear-gradient(90deg, rgba(158,106,91,1) 0%, rgba(85,40,23,1) 45%);
  }
  
  .avatar {
    width: 150px;
    border-radius: 10px 10px;
    border: 3px solid rgb(65, 32, 23);
    box-shadow: 0 0 20px rgb(255, 255, 255);
  }
  
  h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 3px;
  }
  
  h2 {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
  }
  
  .profile {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px
  }
  
  .social img {
    width: 33px;
  }
  
  .links-list li  {
    display: block;
    background: white;
    margin: 50px 20px;
    padding: 15px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .links-list li span {
    color: rgb(0, 0, 0);
    display: block;
    margin-top: 5px;
    margin-bottom: -5px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family:'Libre Franklin', sans-serif;
    font-weight: bolder;
  }